In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_excel('spw.xlsx')

In [3]:
print(dataset.isnull)

<bound method DataFrame.isnull of         TOWN      TOWN_D  DISTRIBUTOR            DISTRIBUTR_D    POP  \
0        271      MULTAN        65184       Al-Rehman & CO-II   4287
1        271      MULTAN        65184       Al-Rehman & CO-II  15653
2        271      MULTAN        65184       Al-Rehman & CO-II  15654
3        271      MULTAN        65184       Al-Rehman & CO-II  15660
4        271      MULTAN        65184       Al-Rehman & CO-II  15886
...      ...         ...          ...                     ...    ...
332629   188  BAHAWALPUR        65191  AINEE MEDICINE COMPANY    586
332630   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332631   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332632   192    D-G-KHAN        65189           DAUD BROTHERS  27061
332633   192    D-G-KHAN        65189           DAUD BROTHERS  27213

                      NAME SECTION         SECTION_D
0             CHOICE BAK 1      18     Diwan ka Bagh
1               Naveed K/S      37      KECHARY ROAD
2              Decent  K/S      41           RAZABAD
3           AL  NUSRAT D/C      10     KECHEHRY ROAD
4            BISMILLAH K/S      08      NISHTER ROAD
...                    ...     ...               ...
332629  Sheikh Nasir Store      11  Ahmed pur road 2
332630             MSA G/S      33           Block-6
332631             MSA G/S      01        Rani Bazar
332632            ZAKA M/S      08          Pharmacy
332633          Sajjad K/S      29        Pir Adil-R

[332634 rows x 8 columns]>

In [4]:
print(dataset.notnull)

<bound method DataFrame.notnull of         TOWN      TOWN_D  DISTRIBUTOR            DISTRIBUTR_D    POP  \
0        271      MULTAN        65184       Al-Rehman & CO-II   4287
1        271      MULTAN        65184       Al-Rehman & CO-II  15653
2        271      MULTAN        65184       Al-Rehman & CO-II  15654
3        271      MULTAN        65184       Al-Rehman & CO-II  15660
4        271      MULTAN        65184       Al-Rehman & CO-II  15886
...      ...         ...          ...                     ...    ...
332629   188  BAHAWALPUR        65191  AINEE MEDICINE COMPANY    586
332630   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332631   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332632   192    D-G-KHAN        65189           DAUD BROTHERS  27061
332633   192    D-G-KHAN        65189           DAUD BROTHERS  27213

                      NAME SECTION         SECTION_D
0             CHOICE BAK 1      18     Diwan ka Bagh
1               Naveed K/S      37      KECHARY ROAD
2              Decent  K/S      41           RAZABAD
3           AL  NUSRAT D/C      10     KECHEHRY ROAD
4            BISMILLAH K/S      08      NISHTER ROAD
...                    ...     ...               ...
332629  Sheikh Nasir Store      11  Ahmed pur road 2
332630             MSA G/S      33           Block-6
332631             MSA G/S      01        Rani Bazar
332632            ZAKA M/S      08          Pharmacy
332633          Sajjad K/S      29        Pir Adil-R

[332634 rows x 8 columns]>

In [5]:
print(dataset.fillna(0))

        TOWN      TOWN_D  DISTRIBUTOR            DISTRIBUTR_D    POP  \
0        271      MULTAN        65184       Al-Rehman & CO-II   4287
1        271      MULTAN        65184       Al-Rehman & CO-II  15653
2        271      MULTAN        65184       Al-Rehman & CO-II  15654
3        271      MULTAN        65184       Al-Rehman & CO-II  15660
4        271      MULTAN        65184       Al-Rehman & CO-II  15886
...      ...         ...          ...                     ...    ...
332629   188  BAHAWALPUR        65191  AINEE MEDICINE COMPANY    586
332630   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332631   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332632   192    D-G-KHAN        65189           DAUD BROTHERS  27061
332633   192    D-G-KHAN        65189           DAUD BROTHERS  27213

                      NAME SECTION         SECTION_D
0             CHOICE BAK 1      18     Diwan ka Bagh
1               Naveed K/S      37      KECHARY ROAD
2              Decent  K/S      41           RAZABAD
3           AL  NUSRAT D/C      10     KECHEHRY ROAD
4            BISMILLAH K/S      08      NISHTER ROAD
...                    ...     ...               ...
332629  Sheikh Nasir Store      11  Ahmed pur road 2
332630             MSA G/S      33           Block-6
332631             MSA G/S      01        Rani Bazar
332632            ZAKA M/S      08          Pharmacy
332633          Sajjad K/S      29        Pir Adil-R

[332634 rows x 8 columns]

In [7]:
print(dataset.fillna(method='pad'))

C:\Users\happy\AppData\Local\Temp\ipykernel_4168\1469550567.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(dataset.fillna(method='pad'))

        TOWN      TOWN_D  DISTRIBUTOR            DISTRIBUTR_D    POP  \
0        271      MULTAN        65184       Al-Rehman & CO-II   4287
1        271      MULTAN        65184       Al-Rehman & CO-II  15653
2        271      MULTAN        65184       Al-Rehman & CO-II  15654
3        271      MULTAN        65184       Al-Rehman & CO-II  15660
4        271      MULTAN        65184       Al-Rehman & CO-II  15886
...      ...         ...          ...                     ...    ...
332629   188  BAHAWALPUR        65191  AINEE MEDICINE COMPANY    586
332630   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332631   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332632   192    D-G-KHAN        65189           DAUD BROTHERS  27061
332633   192    D-G-KHAN        65189           DAUD BROTHERS  27213

                      NAME SECTION         SECTION_D
0             CHOICE BAK 1      18     Diwan ka Bagh
1               Naveed K/S      37      KECHARY ROAD
2              Decent  K/S      41           RAZABAD
3           AL  NUSRAT D/C      10     KECHEHRY ROAD
4            BISMILLAH K/S      08      NISHTER ROAD
...                    ...     ...               ...
332629  Sheikh Nasir Store      11  Ahmed pur road 2
332630             MSA G/S      33           Block-6
332631             MSA G/S      01        Rani Bazar
332632            ZAKA M/S      08          Pharmacy
332633          Sajjad K/S      29        Pir Adil-R

[332634 rows x 8 columns]

In [9]:
print(dataset.fillna(method='bfill'))

C:\Users\happy\AppData\Local\Temp\ipykernel_4168\1684836687.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(dataset.fillna(method='bfill'))

        TOWN      TOWN_D  DISTRIBUTOR            DISTRIBUTR_D    POP  \
0        271      MULTAN        65184       Al-Rehman & CO-II   4287
1        271      MULTAN        65184       Al-Rehman & CO-II  15653
2        271      MULTAN        65184       Al-Rehman & CO-II  15654
3        271      MULTAN        65184       Al-Rehman & CO-II  15660
4        271      MULTAN        65184       Al-Rehman & CO-II  15886
...      ...         ...          ...                     ...    ...
332629   188  BAHAWALPUR        65191  AINEE MEDICINE COMPANY    586
332630   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332631   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332632   192    D-G-KHAN        65189           DAUD BROTHERS  27061
332633   192    D-G-KHAN        65189           DAUD BROTHERS  27213

                      NAME SECTION         SECTION_D
0             CHOICE BAK 1      18     Diwan ka Bagh
1               Naveed K/S      37      KECHARY ROAD
2              Decent  K/S      41           RAZABAD
3           AL  NUSRAT D/C      10     KECHEHRY ROAD
4            BISMILLAH K/S      08      NISHTER ROAD
...                    ...     ...               ...
332629  Sheikh Nasir Store      11  Ahmed pur road 2
332630             MSA G/S      33           Block-6
332631             MSA G/S      01        Rani Bazar
332632            ZAKA M/S      08          Pharmacy
332633          Sajjad K/S      29        Pir Adil-R

[332634 rows x 8 columns]

In [11]:
print(dataset.replace(to_replace=np.nan, value=0))

        TOWN      TOWN_D  DISTRIBUTOR            DISTRIBUTR_D    POP  \
0        271      MULTAN        65184       Al-Rehman & CO-II   4287
1        271      MULTAN        65184       Al-Rehman & CO-II  15653
2        271      MULTAN        65184       Al-Rehman & CO-II  15654
3        271      MULTAN        65184       Al-Rehman & CO-II  15660
4        271      MULTAN        65184       Al-Rehman & CO-II  15886
...      ...         ...          ...                     ...    ...
332629   188  BAHAWALPUR        65191  AINEE MEDICINE COMPANY    586
332630   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332631   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332632   192    D-G-KHAN        65189           DAUD BROTHERS  27061
332633   192    D-G-KHAN        65189           DAUD BROTHERS  27213

                      NAME SECTION         SECTION_D
0             CHOICE BAK 1      18     Diwan ka Bagh
1               Naveed K/S      37      KECHARY ROAD
2              Decent  K/S      41           RAZABAD
3           AL  NUSRAT D/C      10     KECHEHRY ROAD
4            BISMILLAH K/S      08      NISHTER ROAD
...                    ...     ...               ...
332629  Sheikh Nasir Store      11  Ahmed pur road 2
332630             MSA G/S      33           Block-6
332631             MSA G/S      01        Rani Bazar
332632            ZAKA M/S      08          Pharmacy
332633          Sajjad K/S      29        Pir Adil-R

[332634 rows x 8 columns]

In [12]:
print(dataset.interpolate(method='linear', limit_direction='forward'))

        TOWN      TOWN_D  DISTRIBUTOR            DISTRIBUTR_D    POP  \
0        271      MULTAN        65184       Al-Rehman & CO-II   4287
1        271      MULTAN        65184       Al-Rehman & CO-II  15653
2        271      MULTAN        65184       Al-Rehman & CO-II  15654
3        271      MULTAN        65184       Al-Rehman & CO-II  15660
4        271      MULTAN        65184       Al-Rehman & CO-II  15886
...      ...         ...          ...                     ...    ...
332629   188  BAHAWALPUR        65191  AINEE MEDICINE COMPANY    586
332630   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332631   192    D-G-KHAN        65189           DAUD BROTHERS  26980
332632   192    D-G-KHAN        65189           DAUD BROTHERS  27061
332633   192    D-G-KHAN        65189           DAUD BROTHERS  27213

                      NAME SECTION         SECTION_D
0             CHOICE BAK 1      18     Diwan ka Bagh
1               Naveed K/S      37      KECHARY ROAD
2              Decent  K/S      41           RAZABAD
3           AL  NUSRAT D/C      10     KECHEHRY ROAD
4            BISMILLAH K/S      08      NISHTER ROAD
...                    ...     ...               ...
332629  Sheikh Nasir Store      11  Ahmed pur road 2
332630             MSA G/S      33           Block-6
332631             MSA G/S      01        Rani Bazar
332632            ZAKA M/S      08          Pharmacy
332633          Sajjad K/S      29        Pir Adil-R

[332634 rows x 8 columns]

C:\Users\happy\AppData\Local\Temp\ipykernel_4168\3961445635.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  print(dataset.interpolate(method='linear', limit_direction='forward'))