In [1]:
import pandas as pd

In [2]:
employee_data = pd.read_csv('dataset.csv')
sales_data = pd.read_excel('spw.xlsx')

In [8]:
print(employee_data+sales_data)

       ADEmail BusinessUnit  Current Employee Rating  DISTRIBUTOR  \
0          NaN          NaN                      NaN          NaN
1          NaN          NaN                      NaN          NaN
2          NaN          NaN                      NaN          NaN
3          NaN          NaN                      NaN          NaN
4          NaN          NaN                      NaN          NaN
...        ...          ...                      ...          ...
332629     NaN          NaN                      NaN          NaN
332630     NaN          NaN                      NaN          NaN
332631     NaN          NaN                      NaN          NaN
332632     NaN          NaN                      NaN          NaN
332633     NaN          NaN                      NaN          NaN

       DISTRIBUTR_D  DOB DepartmentType Division  EmpID  \
0               NaN  NaN            NaN      NaN    NaN
1               NaN  NaN            NaN      NaN    NaN
2               NaN  NaN            NaN      NaN    NaN
3               NaN  NaN            NaN      NaN    NaN
4               NaN  NaN            NaN      NaN    NaN
...             ...  ...            ...      ...    ...
332629          NaN  NaN            NaN      NaN    NaN
332630          NaN  NaN            NaN      NaN    NaN
332631          NaN  NaN            NaN      NaN    NaN
332632          NaN  NaN            NaN      NaN    NaN
332633          NaN  NaN            NaN      NaN    NaN

       EmployeeClassificationType  ... SECTION SECTION_D StartDate State  \
0                             NaN  ...     NaN       NaN       NaN   NaN
1                             NaN  ...     NaN       NaN       NaN   NaN
2                             NaN  ...     NaN       NaN       NaN   NaN
3                             NaN  ...     NaN       NaN       NaN   NaN
4                             NaN  ...     NaN       NaN       NaN   NaN
...                           ...  ...     ...       ...       ...   ...
332629                        NaN  ...     NaN       NaN       NaN   NaN
332630                        NaN  ...     NaN       NaN       NaN   NaN
332631                        NaN  ...     NaN       NaN       NaN   NaN
332632                        NaN  ...     NaN       NaN       NaN   NaN
332633                        NaN  ...     NaN       NaN       NaN   NaN

       Supervisor TOWN TOWN_D  TerminationDescription TerminationType Title
0             NaN  NaN    NaN                     NaN             NaN   NaN
1             NaN  NaN    NaN                     NaN             NaN   NaN
2             NaN  NaN    NaN                     NaN             NaN   NaN
3             NaN  NaN    NaN                     NaN             NaN   NaN
4             NaN  NaN    NaN                     NaN             NaN   NaN
...           ...  ...    ...                     ...             ...   ...
332629        NaN  NaN    NaN                     NaN             NaN   NaN
332630        NaN  NaN    NaN                     NaN             NaN   NaN
332631        NaN  NaN    NaN                     NaN             NaN   NaN
332632        NaN  NaN    NaN                     NaN             NaN   NaN
332633        NaN  NaN    NaN                     NaN             NaN   NaN

[332634 rows x 34 columns]