In [3]:
import pandas as pd

data = [
    ["Taqumi", 0, 20, 2],
    ["Marty", 84, 35, 55],
    ["Gloria", 19, 89, 99],
    ["Melman", 89, 92, 100]
            ]

In [4]:
data_frame = pd.DataFrame(data, columns=["ID", "Urdu", "English", "Maths"])

In [5]:
print(data_frame)

       ID  Urdu  English  Maths
0  Taqumi     0       20      2
1   Marty    84       35     55
2  Gloria    19       89     99
3  Melman    89       92    100