In [15]:
import pandas as pd

In [27]:
def min_max_normalization(df, feature):
    min_val = df[feature].min()
    max_val = df[feature].max()
    return (df[feature] - min_val) / (max_val - min_val)

In [28]:
data = {
    'Age': [25, 30, 35, 40, 45],
    'Salary': [30000, 40000, 50000, 60000, 70000]
}
df = pd.DataFrame(data)

In [29]:
df["Age_Normal"] = min_max_normalization(df, "Age")
df["Salary_Normal"] = min_max_normalization(df, "Salary")

In [31]:
print("\nNormalization\n")
print(df)

Normalization

   Age  Salary  Age_Normal  Salary_Normal
0   25   30000        0.00           0.00
1   30   40000        0.25           0.25
2   35   50000        0.50           0.50
3   40   60000        0.75           0.75
4   45   70000        1.00           1.00